.chat-main
  .chat-main__header
    .chat-main__header__group.clearfix
      .chat-main__header__group__name
        = @group.name
      .chat-main__header__group__edit-btn
        = link_to "Edit", edit_group_path(@group)
    .chat-main__header__members
      MEMBER:
      - @group.users.each do |user|
        %i
          = user.name
  = render "shared/messages"
  .chat-main__form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: "chat-main__form__textarea", placeholder: "type a message"
      .chat-main__form__img-attachment
        = f.label :image do
          .fa.fa-image
        = f.file_field :image, style: "display:none;"
      = f.submit "Send", class: "chat-main__form__send-btn"


