.chat-main
  .chat-main__header
    .chat-main__header__group.clearfix
      .chat-main__header__group__name
        = @group.name
      .chat-main__header__group__edit-btn
        = link_to "Edit", root_path
    .chat-main__header__members
      MEMBER:
      %i Your Name, Her Name, His Name
  = render "shared/messages"
  .chat-main__form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: "chat-main__form__textarea", placeholder: "type a message"
      .chat-main__form__img-attachment
        = f.label :image do
          .fa.fa-image
        = f.file_field :image, style: "display:none;"
      = f.submit "Send", class: "chat-main__form__send-btn"


